@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300&family=Poppins:wght@200;400&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins'
    
}

:root {
    --gradientOne: linear-gradient(
        rgb(186, 210, 163),
        rgb(113, 139, 174),
        rgb(126, 101, 151),
        rgb(103, 92, 117)
    );

    --gradientTwo: linear-gradient(
        rgb(125, 152, 182),
        rgb(88, 92, 128),
        rgb(46, 46, 82),
        rgb(23, 30, 37)  
    );

    --gradientThree: linear-gradient(
        rgb(224, 199, 138),
        rgb(158, 84, 84),
        rgb(95, 60, 89),
        rgb(43, 31, 48)
    );
}

body {
    
    background-image: var(--gradientTwo);
    background-repeat: no-repeat; 
    height: 100vh;
    
}



.score-lives-container {
    padding: 1.5em;
    position: relative;
    height: 20vh;
    
}

.score {  
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.7em;
    width: 10vw;
    
}

h3 {
    color: aliceblue;
    
}

#intro-title {
    font-size: 4rem;
    margin-top: 0.1em;
    font-weight: 900;
    color: rgb(43, 43, 86);   
}

.score-count {
    font-size: 1.5em;
    color: aliceblue;
}

.lives-count {
    font-size: 1.5em;
    color: aliceblue;
    
}

.lives {
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.7em;
    width: 10vw;
    position: absolute;
    right: 0.5em;
    top: 1.5em;
    

}

.game-board {
    height: 80vh;
    margin-top: 0px;
    
}

.intro-container {
    width: 100vw;
    margin-bottom: 0;
    height: 30vh;
    
}

.intro {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100vw;
    opacity: 0.8;  
    border-radius: 2em 2em 0 0;
}

.hidden {
    visibility: hidden;
}

.start-btn { 
    cursor: pointer; 
    width: 7em;
    height: 2em;
    border-radius: 2em;
    /* font-size: 1.2em; */
    text-align: center;
    margin-bottom: 3em;
    border: 0.2em solid rgb(115, 78, 200);
    color: rgb(42, 42, 42); 
      
}

.instructions {
    text-align: center;
    width: 50vw;
    font-size: 1em;
}

#falling-area {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    height: 80vh;
    position: relative;
    z-index: -2222;
}

.buttons-pieces{
    height: 80vh;
    position: relative;
    z-index: -4;
}

#buttons-container {
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-around; 
    align-items: center;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    width: 70vw; 
    position: absolute;
    bottom: 2em;
    
    
}
.button-red {
    width: 9em;
    height: 2em;
    background-color: rgb(73, 70, 66);  
    border-radius: 1em;
    

}
.button-orange {
    width: 9em;
    height: 2em;
    background-color: rgb(73, 70, 66);   
    border-radius: 1em;

}
.button-yellow {
    width: 9em;
    height: 2em;
    background-color: rgb(73, 70, 66); 
    border-radius: 1em;

}
.button-green {
    width: 9em;
    height: 2em;
    background-color: rgb(73, 70, 66);
    
    border-radius: 1em;

}
.button-blue {
    width: 9em;
    height: 2em;
    background-color: rgb(73, 70, 66);
    
    border-radius: 1em;

}
.button-purple {
    width: 9em;
    height: 2em;
    background-color: rgb(73, 70, 66);  
    border-radius: 1em;

}
.pieces-container {
    list-style-type: none;
    width: 70vw;
    display: flex;
    justify-content: space-around; 
    align-items: start;
    position: relative; 
    
}

.pieces{
    width: 9em;
    height: 2em;
    background-color: rgb(73, 70, 66);
    border-radius: 1em;
    position: absolute;
    top: -170px;

}

.pieces:nth-child(1) {
    left: 0%;
}

.pieces:nth-child(2) {
    left: 16.8%;
}

.pieces:nth-child(3) {
    left: 33.5%;
}

.pieces:nth-child(4) {
    left: 50.4%;
    
}

.pieces:nth-child(5) {
    left: 67.1%;
}

.pieces:nth-child(6) {
    right: 0%;
}






/*  Create a generic class for each piece */

/* Pieces need to be absolute so the can fall */